.container{width:100%}
.main-content.pull-right{
	background-color: #333;
	color:#fff;
	padding:20px;
	min-height:800px;
}
.sub-nav-header{    font-size: 14px;
  position: absolute;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid rgba(171,171,171, 0.8);
  left: 0px;
  padding: 0px 10px;
  top: 15px;}
.sub-nav-header a{text-decoration:none}
.sub-nav-header a:hover{color:#fff}

.sub-nav.sub-nav-h1{margin-top:60px; border-bottom:none}
.sub-nav.sub-nav-h1 h1{line-height:10px}

a{border-bottom:none}


article .user-icon{float:left}
article  .post-preview p{  font-size: 14px!important}
article  .post-preview p a{color:#fff; font-weight:bold}
.post {
  padding: 20px 0 0px 0px;
  border-bottom: dashed 1px #f5f5f5;
}


@media (min-width: 1200px){
	.sidebar {width:68%}
}
@media (min-width: 992px){
	.sidebar {width:68%}
}
